<div class="mb-3">
  <h2 class="text-3xl text-center">You scored</h2>
  <h1 class="text-6xl text-center">{{ .Score }} out of {{ .TotalNumberOfQuestions }} </h1>
</div>
<table class="mb-3">
  <tr>
    <th class="text-left">Question</th>
    <th class="text-left">Chinese Characters</th>
    <th class="text-left">Your Answer</th>
    <th class="text-left">Solution</th>
  </tr>
  {{ range .Responses }}
    {{ if eq .UsersAnswer .CorrectAnswer }}
    <tr class="bg-green-200">
    {{ else }}
    <tr class="bg-red-200">
    {{ end }}
      <td>{{ .QuestionNumber }}</td>
      <td>{{ .ChineseCharacters }}</td>
      <td>{{ .UsersAnswer }}</td>
      <td>{{ .CorrectAnswer }}</td>
    </tr>
  {{ end }}
</table>
<button hx-delete="/tests/{{ .TestID }}" hx-target="#test-review" class="mb-3 border-1 border-solid border-slate-400 rounded-md p-3">Start a new test?</button>